<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Composer</title>
</head>
<body>
    <form action="/send" method="POST">
        Enter Receiver Email Address: <input type="email" name="r_email" /><br>
        Enter Subject: <input type="text" name="subject" /><br>
        Enter Message: <input type="text" name="message" /><br>
        <input type="submit" value="Submit">
    </form>
    {% if sent %}
        <h4>Email was sent.</h4>
    {% endif %}
</body>
</html>