<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WT Forms</title>
    </head>
    <body>
        <h2 style = "text-align: center;">College Registration Form</h2>
        {% if form %}
            {% for message in form.name.errors %}
                <div>{{message}}</div>
            {% endfor %}
        {% endif %}
        <form action = "/success" method="POST">
            <fieldset>
                {% if form %}
                    {{ csrf_token }}
                    <div style="font-size: 18px; font-weight: bold; margin-left: 150px;">
                        {{ form.name.label}}
                        {{ form.name }}
                        <br>
                        {{ form.Gender.label }}
                        {{ form.Gender }}
                        <br>
                        {{ form.Address.label }}
                        {{ form.Address }}
                        <br>
                        {{ form.Age.label }}
                        {{ form.Age }}
                        <br>
                        {{ form.Subject.label}}
                        {{ form.Subject }}
                        <br>
                        <br>
                        {{ form.submit }}
                    </div>
                {% endif %}
            </fieldset>
        </form>
    </body>
</html>