.header{
    padding: 5px 120px;
    width: 150px;
    height: 70px;
    background-color: #236b8e;
}

.border{
    padding: 80px 50px;
    width: 400px;
    height: 450px;
    border: 1px solid #236b8e;
    border-radius: 0px;
    background-color: #236b8e;
}

.btn{
    padding: 10px 40px;
    border-radius: 10px;
    background-color: #236b8e;
    color: #ffffff;
    font-style: oblique;
    font-weight: bold;
}

.textbox{
    padding: 10px 40px;
    border-radius: 10px;
    background-color: #236b8e;
    color: #ffffff;
}

.placeholder{
    font-style: oblique;
    font-weight: bold;
    color: #ffffff;
    opacity: 1;
}

.word{
    font-style: oblique;
    font-weight: bold;
    color: #ffffff;
}

.bottom{
    font-style: oblique;
    font-weight: bold;
    color: #236b8e;
}